# .env.example

# Port Server
PORT = 8080

# Node env
NODE_ENV = development

# Mongo DB
MONGO = mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<your-app-name>

# Json Web Token
PRIVATE_JWT_KEY = secret-key

# Mocks
MOCK_USERS_QUANTITY = 5
MOCK_TASKS_QUANTITY = 5